<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Add a place to go</h1>
            <div class="col-4 offset-4">
                <form action="/places" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" name="place[title]" class="form-control" required>
                        <!-- <div class="valid-feedback">Looks good!</div> -->
                    </div>

                    

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" id="description" name="place[description]" class="form-control"
                            required></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add a place to go</button>
                    </div>

                </form>
                <div class="mb-4">
                    <a href="/places">Back to All Places</a>
                </div>

            </div>
        </div>
    </div>

    