<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Idea</h1>
    <div class="col-6 offset-3">
        <form action="/ideas" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="idea[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <!-- <div class="mb-3">
                <label for="image">Image Url</label>
                <input  type="text" id="image" name="idea[image]">
                
            </div> -->
            

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="idea[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-success">Add Idea</button>
            </div>
        </form>
        <a href="/ideas">All Ideas</a>
    </div>
</div>