<% layout('layouts/boilerplate')%>

    <div class="row">
        <!-- <div class="col-6"> -->
          

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=idea.title%>
                    </h5>
                    <p class="card-text">
                        <%=idea.description%>
                    </p>
                </div>
                
               
            </div>
    </div>
        

    <!-- </div> -->







    <!-- We don't want to allow a user to enter any sort of script anywhere in any of our fields -->