@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1612392987205-c53f0200a175?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2Mzc0MTM1MA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
    font-family: "Poppins", sans-serif;
    flex-direction: column;
}

.cover-container {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

.nav-link {
    padding: 0.25rem 0;
    color: rgba(255,255,255,0.5);
    letter-spacing: .13rem;
    margin-left: 1rem;
    border-bottom: 0.1rem solid transparent;
}

.nav-link:hover {
    color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
}

main {
    max-width: 60vw;
    align-self: center;
}

.btn-secondary {
    color: #333;
    font-size: 1.1rem;
    padding: 10px 25px;
    text-shadow: none;
    background-color: white;
    background-color: rgba(255,255,255,0.8)
}


